	// sql查询
	/**
	 * ${0:变量注释}
	 */
	const [r$CURRENT_SECONDS_UNIX] = await(() => {
		const p1 = $1;	// 配置文件中数据库的名称
		const p21 = '$2';	// sql
		const p22 = [];	// 参数,需与sql中占位符(mysql中为?,postgres中为$n)相对应
		return an14<${3:{}}>(p1, [p21, p22]);
		// return an14<T1, T2>(p1, [p21, p22], [p31, p32]);
		// const p2 = [
		// 	['sql1', ['param1']]，
		// 	['sql2', ['param2']]，
		// 	['sql3', ['param3']]，
		// 	// ...
		// 	['sqln', ['paramn']]
		// ];
		// return an14<T1, T2, T3, ...Tn>(p1, ...p2);
	})();